html, body {
  margin: 0;
  background-color: black;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  left: 5px;

  color: transparent;
  text-shadow: 770px 0 white;
}

p {
  position: absolute;
  margin: 0;
  top: 35px;
  right: 5px;
  color: #aaa;
}
canvas {
  left: 100px;
  position: absolute;
  margin: 50px;
  padding: 169px;
}
